/* formTitle */
.formTitle {
    height: 45px;
}
.formTitle-icon {
    float: left;
    height: 100%;
    width: 17px;
    margin: 0 8px 0 8px;
    background: url(../image/form/normal.png) no-repeat center center !important;
}
.formTitle-text {
    height: 100%;
    float: left;
    font: bold 14px/45px "宋体";
    color: #3a3a3a;
}
.dzm-noBorder-text{
    height: 23px;
    width: 151px;
    font-size: 12px;
    line-height: 23px;
    border: 1px solid #CCCCCC !important;
}
.form-label-cell{
    width: 70px;
}
